.footer {
  background-color: #f7f7f7;
  padding: 48px 0;
  color: #222222;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
  border-top: 1px solid #ebebeb;
}

.footer__container {
  max-width: 100%;
  /* margin: 0 auto;
  padding: 0 24px; */
  padding-left:35px
}

.footer__title {
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 8px;
}


.footer__categories {
  display: flex;
  gap: 24px;
  margin-top: 10px;
  margin-bottom: -1px; 
}

.footer__categories span {
  font-size: 0.875rem;
  color: #717171;
  padding: 12px 0;
  cursor: pointer;
  font-weight: 550;
}

.footer__categories span.active {
  color: #222222;
  border-bottom: 2px solid #222222;
}

.footer__divider {
  border: 0;
  border-top: 1px solid #dddddd;
  margin-top:15px;
  margin-bottom: 30px;
  /* width: 100%; */
  /* margin: 0 0 24px 0; */
}

.footer__locations {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px 8px;
  margin-bottom: 40px;
  width: 100%;
  justify-items: stretch ;

}

.location__name {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0;
}

.location__type {
  font-size: 0.875rem;
  color: #717171;
  margin: 2px 0 0 0;
}


.footer__columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top:70px;
  gap: 40px;
}

.footer__col h4 {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 12px;
}

.footer__col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__col li {
  font-size: 0.875rem;
  color: #222222;
  margin-bottom: 12px;
  cursor: pointer;
}

.location__type:hover{
  color:black;
  font-weight:200;
}

.footer__col li:hover {
  text-decoration:#222222 2px solid underline;
}
.footer__divider_social {
  border: 0;
  border-top: 1px solid #dddddd;
  margin-top:35px;
  margin-bottom: 30px;
  /* width: 100%; */
  /* margin: 0 0 24px 0; */
}

@media (max-width: 950px) {
  .footer__locations { grid-template-columns: repeat(3, 1fr); }
  .footer__columns { grid-template-columns: 1fr; }
}

@media (max-width: 550px) {
  .footer__locations { grid-template-columns: repeat(2, 1fr); }
}



.footer__divider_social {
  border: 0;
  border-top: 1px solid #dddddd;
  margin-top: 35px;
  margin-bottom: 25px; 
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.875rem;
  color: #222222;
  padding-left:40px; 
  padding-right:40px; 
}

.footer__bottom_left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__bottom_left a {
  text-decoration: none;
    /* border-bottom: 2px solid #222222;  */
  color: #222222;
}

.footer__bottom_left a:hover {
  border-bottom: 2px solid #222222;
}

.footer__bottom_left .dot {
  font-weight: bold;
}

.footer__bottom_right {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 600;
}

.footer__language, .footer__currency {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__socials svg {
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer__bottom {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 20px;
  }
  
  .footer__bottom_left {
    flex-wrap: wrap;
  }
}